<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- jQuery library -->
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
	<header id="ngs-header" class="topnav sticky-top">
		<a class="active" href="">Player Tracking Visualization</a>
		<a href="#news">Link 1</a>
		<a href="#contact">Link 2</a>
		<a href="#about">Link 3</a>
	</header>
	<div class="container">
		<div id="game-results" class="list-group main-results">
			{% for row in games_dict.keys() %}
			<form action="/player-tracking-animation" method='POST'>
				<button type="submit" name='gameselection' class="list-group-item list-group-item-action" 
					value="{{ row }}">
					{{ games_dict[row] }}
				</button>
				
				<!--
				<div id="game-results" class="list-group main-results">
					
					<input type="button" name='gameselection' class="list-group-item list-group-item-action" value="{{ games_dict[row] }}">
					
				</div> -->

				<!--
				{% for row in games_dict.keys() %}
				<input type="radio" name="gameselection" value="{{ row }}" style="display:inline;">  {{ games_dict[row] }}<br>
				{% endfor %}
				<div class="main-results-submit">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Search">Watch Game</button>
				</div> -->

			</form>
			{% endfor %}
		</div>
	</div>

	<script>
	window.onscroll = function() {scrollFunction()};

	var header = document.getElementById("ngs-header");
	var sticky = header.offsetTop;

	function scrollFunction() {
		if (window.pageYOffset > sticky) {
			header.classList.add("sticky");
		} else {
			header.classList.remove("sticky");
		}
	}
	</script>
</body>